* {
	padding: 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

body {
	/*margin-left: auto;
	margin-right: auto;*/
	height: 720px;
}

#horloge_canvas_id {
	position: relative;
	width: 600px;
	height: 600px;
	display: block;
	top:-72px;
	left:3px;
	z-index: 1; 
	/* left: 465px;
	top: -110px; */
	cursor: default;
}

#conteneur {
	height: 720px;
	width: 1000px;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
}

/*#ligneHaut {
	position: relative;
	height: 50px;
	width: 1024px;
	display: block;
}*/

#horloge_id {
	position: absolute;
	width: 600px;
	display: block;
	height: 600px;
	top:35px;
	left:-25px;
}

.imageSVG {
	padding: 20px;
	position: absolute;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 606px;
	height: 606px;
	display: block;
	top: -95px;
	margin-top: 20px;

}

#centre {
	position: absolute;
	box-sizing: content-box;
	border-radius: 50%;
	border: 10px solid #242931;
	top: 198px;
	width: 1px;
	left: 293px;
	margin-top: 20px;
	z-index:2; 
}

.aiguilles_internes {
	position: absolute;
	left: -459px;
	border-radius: 5px;
	display: block;
	top: 22px;
	margin-top: 20px;
}

.aiguilles_internes_cachees {
	display: none;
}


#aiguille_heures_id {
	position: absolute;
	transform-origin: bottom;
	height: 150px;
	width: 8px;
	top: 35px;
	left: 759px;
	background-color: #2987e4;
	border-radius: 20px;
}

#aiguille_minutes_id {
	position: absolute;
	transform-origin: bottom;
	height: 205px;
	width: 8px;
	top: -18px;
	left: 759px;
	background-color: #55d400ff;
	border-radius: 20px;
}

#aiguille_secondes_id {
	position: absolute;
	transform-origin: bottom;
	height: 220px;
	width: 3px;
	top: -34px;
	left: 761px;
	background-color: #e21c15;
	border-radius: 20px;
}

#casesAffichage_id {
	text-align: center;
	position: absolute;
	width: 720px;
	height: 75px;
	left: 0px;
	top: 645px;
	background-color: rgba(251, 167, 167, 0.44);
	padding: 0px;
	z-index: 1;
}
#lienAffichageIndications_id {
	position: absolute;
	top: 600px;
	left: 0px;
}
#btRéglageIndications_id {
	padding: 6px;
	border-radius:5px
}
#btRéglageIndications_id:hover {
	background-color: #d3cdcd;
  }


#heuresRomain {
	left: 250px;
	width: auto;
	display: none;
	position: absolute;
	top: 25px;
}

#minutesMoins {
	left: 610px;
	width: auto;
	position: absolute;
	display: none;
	top:25px;
}

#partieCasesQuarts {
	text-align: center;
	top: 15px;
	position: relative;
}

#boutonChangeMode {
	border: 0;
	width: 290px;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 135px;
	top: 540px;
	z-index:2; 
}

#boutonChangeMode:hover {
	background-color: rgba(255, 0, 0, 1);
	cursor: pointer;
}

#boutonChangeMode:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#consoleHeureDigitale_id {
	left: 10px;
	position: absolute;
	width: 380px;
}

#horlogeDigitale_id{
	position: absolute;
	left: 30px;
	top:35px;
}

.form_console {
	display: inline-grid;
	position: absolute;
	top: 45px;
	/* left: 620px; */
}

.boites {
	width: 80px;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}

#boite_minutes_id {
	position: relative;
}

#boite_secondes_id {
	position: relative;
}

.btAffichageGlobal {
	border: 0;
	width: 400px;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
	position: absolute;
	margin-top: 0px;
}
/* Style de l'info-bulle */
/* .btAffichageGlobal::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 50%;
	right: 25%;
	transform: translateX(-50%);
	padding: 5px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
  } */

.btAffichageGlobal:hover {
	background-color: rgb(255, 0, 0);
	cursor: pointer;
	/* opacity: 1;
  	visibility: visible; */
}

.btAffichageGlobal:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#btAffichageGlobalHeureDigit_id {
	top: 0px;
}

#btAffichageGlobalAiguille_id {
	top: 165px;
}

#btAffichageGlobalAiguilleManip_id {
	top: 360px;
}

.cacBoites {
	font-size: 140%;
}

#cacAiguilles_id {
	position: absolute;
	top: 190px;
	/* margin-top: 10px; */
}

#consoleIncrementation {
	position: absolute;
	left: 200px;
	top: 220px;
	margin: 0px 10px 0px 10px;
	width: 200px;
}

.consoleIncrementation {
	margin-bottom: 0px;
}

#cacAiguillesManip_id {
	position: absolute;
	top: 365px;
	/* margin-top: 30px; */
	left: 0px;
	display: inline-grid;
}

#cacAiguillesLiées_id {
	position: relative;
	margin-left: 90px;
	color: rgb(193, 19, 184);
}

#btRAZ_horloge_id {
	border: 0;
	width: auto;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 0.80rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgb(236, 165, 51);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
	position: relative;
	margin: auto;
	left: -270px;
	top: -60px;
	z-index: 2; 
}

#btRAZ_horloge_id:hover {
	background-color: rgb(255, 164, 18);
	cursor: pointer;
	z-index: 2; 

}

#btRAZ_horloge_id:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.cacColonne {
	/* display: block; */
	width: 390px;
}


.cacColonneManipAiguilles {
	/* display: block; */
	width: 390px;
	margin-bottom: 0px;
}

.btIncrement {
	border: 0;
	width: auto;
	line-height: 1;
	padding: 0px 12px;
	margin-bottom: 0px;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btIncrement:hover {
	cursor: pointer;
}

.btIncrement:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#btHeuresMoins_id,
#btHeuresPlus_id {
	background-color: #2987e4;
}

div #btHeuresMoins_id:hover,
div #btHeuresPlus_id:hover {
	background-color: #6cadee;
}

#btMinutesMoins_id,
#btMinutesPlus_id {
	background-color: #55d400ff;
}

div #btMinutesMoins_id:hover,
div #btMinutesPlus_id:hover {
	background-color: rgb(141, 255, 65);
}

#btSecondesMoins_id,
#btSecondesPlus_id {
	background-color: #e21c15;
}

div #btSecondesMoins_id:hover,
div #btSecondesPlus_id:hover {
	background-color: #ff524c;
}

.pas {
	width: 40px;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

.btAide {
	border: 0;
	width: auto;
	line-height: 2;
	padding: 0px 12px;
	margin-bottom: 0px;
	font-size: 1rem;
	text-align: center;
	color: #000;
	/* text-shadow: 1px 1px 1px #000; */
	border-radius: 10px;
	background-image: linear-gradient(to top left, rgba(0, 135, 255, 0.36), rgba(0, 183, 255, 0.54) 30%, rgba(255, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}



#btLicence_id {
	position: absolute;
	margin: auto;
	z-index: 2;
}

#btLicence_id:hover {
	background-color: rgb(0, 179, 255);
	cursor: pointer;
}

#btLicence_id:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#btAide_id {
	position: absolute;
	margin: auto;
	top: 40px;
	display: block;
	z-index: 2;
}

#btAide_id:hover {
	background-color: rgb(0, 179, 255);
	cursor: pointer;
}

#btAide_id:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


#noticeModal_id, #licenceModal_id, #reponseCorrecteModal_id, #reponseErreurModal_id {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	overflow: auto;
	/* or overflow: scroll; */
	z-index: 2;
}

#noticeContenu_id {
	background-color: rgb(121, 187, 245);
	padding: 10px;
	max-width: 1000px;
	max-height: 100%;
	/* text-align: center; */
}

.btFermerModal{
  margin-top: 10px;
  padding: 10px;
}

#colonne_droite_id {
	display: block;
	left: 600px;
	position: absolute;
	top: 0px;
	width: 400px;
	height: auto;
}

#heureAleatoire_id{
	position: absolute;
	right: 520px;
	top: -30px;
	z-index: 2;
}

#btHeureAleatoire_id {
	width: auto;
	background-color: rgb(96, 96, 96);
	border-radius: 50%;
	padding: 10px;
	visibility: hidden;
}

#zoneTypeExercice_id {
	position: absolute;
	left: 440px;
	top: 520px;
	width: 560px;
	height: auto;
	background-color: #ffdd7e;
}

#fieldsetExercices_id{
	height: 90px;
	margin: 3px;
}

#cacExoAvecSecondes_id {
	position: relative;
	color: rgb(193, 19, 184);
}
#label_cacExoAvecSecondes_id{
	position: relative;
}

.btExercice {
	border: 0;
	width: 165px;
	line-height: 1.5;
	padding: 5px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgb(193, 19, 184);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
	position: absolute;
	margin-top: 0px;
	margin-right:10px;
}

.btExercice:hover {
	background-color: rgba(193, 0, 255,1);
	cursor: pointer;
}

.btExercice:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#exType1_id{
	left: 10px;
	top: 45px;
}
#exType2_id {
	left: 195px;
	top: 45px;
}
#exReset_id {
	left: 380px;
	top: 45px;
}

#formReponse_id {
	position: relative;
	top: 380px;
	visibility: hidden;
	background-color: rgba(255, 193, 254, 0.72);
	width: 400px;
	padding: 10px;
	height: 130px;
}

#fieldsetReponse_id {
	border: 0px;
}

#btVerifierReponse_id, #btVerifierAiguilles_id {
	position: absolute;
	width: auto;
	background-color: rgb(208, 24, 171);
	left: 320px;
	border-radius: 50%;
	padding: 7px;
	top: 50px;
}

#reponseCorrecteContenu_id {
	background-color: rgba(99, 255, 1, 1);
	padding: 20px;
	max-width: 800px;
	/* text-align: center; */
}
#reponseErreurContenu_id {
	background-color: rgb(255, 115, 131);
	padding: 20px;
	max-width: 800px;
	/* text-align: center; */
}


/* *******************Infolbulles *********************/
.cac {
	position: absolute;
	top: 15px;
	z-index: 1;
	margin-left: 150px;
}

.cac span {
	display: none;
	visibility: hidden;
	border-radius: 10px;	
}
.cac:hover {
	background: none;
	z-index: 50;
}
.cac:hover span {
	display: inline-block;
	position: absolute;
	visibility: visible;
	width: 240px;
	/*left: 5px;*/
	top: -20px;
	font-family:arial, verdana, sans-serif;
	text-align:center;
	font-size:16px;
	color:#0c4bbf;
	font-weight:normal;
	background: rgb(255, 248, 146);
	padding: 2px;
	border: #0c4bbf solid 1px ;
	text-indent: 0;
}
